@import url('./reset.css'); /*리셋 css*/
@import url('./common.css'); /*공통 css*/

#report .grey-box span{color: var(--point-color);}

input[type='checkbox'].type1 + label, input[type='checkbox'].type1 + label span{color: var(--point-color);}

.checkbox-container {
    display: flex;
    align-items: center;
  }

  .checkbox-container label {
    margin-left: 0.7142 rem; 
  }

.red-text2{
    color: #ff5e5e;
}

.horizontal-line {
    border-top: 0.071rem solid #ccc; 
    margin: 1.428rem 0; 
}

.con-wrap {
    margin-top: 0.071rem; 
}

.empty-space {
    margin-top: 3.571rem; 
}

.empty-space2 {
    margin-top: 1.4285rem; 
}

#report .con-wrap{padding-bottom: 4.285rem;}

.grey-box {
    background-color: #f8f8f8; 
    padding: 1.428rem;
    border-radius: 1.2857rem;
}

.grey-box p {
    margin: 0; 
}

.red-text {
    color: #ff5e5e;
    display: flex;
    justify-content: flex-end;
}

#report119 .point-btn{display: flex; justify-content: space-between; align-items: center; padding: 0 2.857rem;}


.big-text {
    font-size: 1.5em; /* Adjust the font size as needed */
    /* You can also apply additional styling if necessary */
    color: white;
    font-family: 'yg-jalnan', 
    'Pretendard' !important;

}

.small-text {
    font-size: 0.9em; /* Adjust the font size as needed */
    /* You can also apply additional styling if necessary */
    color: white;
    font-weight: 300; /* Adjust the font weight as needed */
}

/* h3 size */
h3.page-tit{font-size: 1.428rem; margin: 3.714rem 0 2.857rem; font-family: 'yg-jalnan'}

/* button */ 
button.point-btn {
    font-size: 0.928rem;
    margin: 3.714rem 0 2.857rem;
    font-family: 'yg-jalnan', 
    'Pretendard' !important;
  }
  

.inner-wrap {
    padding: 0 2.857rem; /* 여백의 크기를 조절하세요 */
    box-sizing: border-box;
    background-color: white; /* 배경 색을 설정하세요 */
  }